/Users/marcozamp/Desktop/cloud_project/test/files
/Users/marcozamp/Desktop/cloud_project/test/files/train_mini.csv
/Users/marcozamp/Desktop/cloud_project/test/files/Lecture01.pdf
/Users/marcozamp/Desktop/cloud_project/test/files/into-the-wild.png
